<html xmlns:th="http://thymeleaf.org">
<head>
  <title>Transaction Details</title>
  <link rel="stylesheet" href="/css/transactions.css" />
</head>
<body>
	<div th:each="singleTrans : ${singleTransaction}">
		<h2>Transaction ID : [[${singleTrans.id}]]
		 (<span th:text="${singleTrans.type =='D' ? 'Debit' : ''}"></span>
		 <span th:text="${singleTrans.type=='C' ? 'Credit' : ''}"></span>)
		<!--   (<span th:if="${singleTrans.type =='D'}">Debit</span>
		 <span th:unless="${singleTrans.type=='C'}">Credit</span>) -->
		 </h2>
		
		<div th:inline="text">Date: [[${singleTrans.date}]]</div>
		<div th:inline="text">Amount:[[${singleTrans.amount}]]</div>
		<div th:inline="text">Description:[[${singleTrans.description}]]</div>
		<div>
		  <a href="/transactions">back</a>
		</div>
	</div>



</body>
</html>